<!DOCTYPE html>
<html>
  <head>
    <title>ETicaret</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    <script src="https://kit.fontawesome.com/9f007c22b5.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= yield %>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
